@import "variable";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  appearance: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: $gray200;
  overflow-x: hidden;
  background-color: $bg;
  font-size: 0.9rem;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: $white;
  line-height: 1.3rem;
}
h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
  @media screen and (max-width:1024px){
      font-size: 1.6rem;
  }
}
h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
  @media screen and (max-width:1024px){
      font-size: 1.2rem;
  }
}
h4 {
  font-size: 1rem;
}
a {
  color: $white;
  transition: $transition;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
