@import "variable";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  appearance: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: $gray900;
    overflow-x: hidden;
    background-color: $bg;
    font-size: 0.9rem;
}