@import "variable";

.container{
    width: $contWidthLg;
    max-width: 1800px;
    margin: 0 auto;
    @media screen and (max-width:1024px) {
        width: $contWidthMd;
    }
}
.avatar{
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border: 0.3rem solid $bg;
    border-radius: 50%;
    @media screen and (max-width: 1024px){
        margin-left: 2rem;
        border: 0;
    }
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
// ================================ CATEGORY BUTTON ==========

.category__btn{
    background-color: $primaryLight;
    color: $primary;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: $cardBorderRadius1;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    &:hover{
        color: $white;
    }
}

.post{
    &:hover .post__thumbnail img{
        filter: saturate(0);
        transition: filter 500ms ease-in-out;
    }
}

.post__author{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}
.post__author-avatar{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: $cardBorderRadius3;
    overflow: hidden;
}
// ================================ GENERAL POST ==========

.post__thumbnail{
    border-radius: 0 $cardBorderRadius5;
    border: 1rem solid $gray900;
    overflow: hidden;
    margin-bottom: 1.6rem;
}