$primary : #6f6af8;
$primaryLight : hsla(242, 91%, 69, 18%);
$primaryVariant : #5854c7;
$red: #da0f3f;
$redLight: hsla(346, 87%, 46%, 15%);
$green : #00c476;
$greenLight : hsla(156, 100%, 38%, 15%);
$gray900: #1e1e66;
$gray700: #2d2b7c;
$gray300: rgba(242, 242, 254, 0.3);
$gray200: rgba(242, 242, 254, 0.7);
$white: #f2f2fe;
$bg: #0f0f3e;

$transition: all 300ms ease;

$contWidthLg: 74%;
$contWidthMd: 88%;
$formWidth: 40%;

$cardBorderRadius1: 0.3rem;
$cardBorderRadius2: 0.5rem;
$cardBorderRadius3: 0.8rem;
$cardBorderRadius4: 2rem;
$cardBorderRadius5: 5rem;