*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: rgba(242, 242, 254, 0.7);
  overflow-x: hidden;
  background-color: #0f0f3e;
  font-size: 0.9rem;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #f2f2fe;
  line-height: 1.3rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  h5 {
    font-size: 0.8rem;
  }
}

a {
  color: #f2f2fe;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 74%;
  max-width: 1800px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88%;
  }
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border: 0.3rem solid #0f0f3e;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .avatar {
    margin-left: 2rem;
    border: 0;
  }
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.category__btn {
  background-color: rgba(154, 104, 248, 0.18);
  color: #6f6af8;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.category__btn:hover {
  color: #f2f2fe;
}

.post:hover .post__thumbnail img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: -webkit-filter 500ms ease-in-out;
  transition: -webkit-filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out, -webkit-filter 500ms ease-in-out;
}

.post__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.2rem;
}

.post__author-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: #6f6af8;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #f2f2fe;
}

.post__thumbnail {
  border-radius: 0 5rem;
  border: 1rem solid #1e1e66;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

nav {
  background-color: #6f6af8;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav button {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav button {
    display: inline-block;
    font-size: 1.5rem;
    width: 1.5rem;
    background: transparent;
    cursor: pointer;
  }
  nav button:last-child {
    display: none;
  }
}

nav .nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  nav .nav__container {
    position: relative;
  }
}

nav .nav__container .nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}

nav .nav__container .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 1024px) {
  nav .nav__container .nav__items {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0rem;
    display: none;
  }
  nav .nav__container .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
            box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    background: #1e1e66;
    border-top: 1px solid #0f0f3e;
    -webkit-animation: dropdown 1s 0s ease forwards;
            animation: dropdown 1s 0s ease forwards;
    opacity: 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-perspective: 400px;
            perspective: 400px;
  }
  nav .nav__container .nav__items li:nth-child(2) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  nav .nav__container .nav__items li:nth-child(3) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
  }
  nav .nav__container .nav__items li:nth-child(4) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
  }
  nav .nav__container .nav__items li:nth-child(5) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  nav .nav__container .nav__items li:nth-child(6) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  nav .nav__container .nav__items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: #1e1e66;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .nav__container .nav__items .nav__profile {
  position: relative;
  cursor: pointer;
}

nav .nav__container .nav__items .nav__profile:hover > ul {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  nav .nav__container .nav__items .nav__profile {
    background-color: #1e1e66;
  }
}

nav .nav__container .nav__items .nav__profile ul {
  position: absolute;
  top: 125%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e1e66;
  -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  nav .nav__container .nav__items .nav__profile ul {
    top: 100%;
    width: 100%;
  }
}

nav .nav__container .nav__items .nav__profile ul li a {
  padding: 1rem;
  background-color: #1e1e66;
  display: block;
  width: 100%;
}

nav .nav__container .nav__items .nav__profile ul li:last-child a {
  background-color: #da0f3f;
  color: #0f0f3e;
}

.featured {
  margin-top: 8rem;
}

@media screen and (max-width: 600px) {
  .featured {
    margin-top: 6rem;
  }
}

.featured .featured__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media screen and (max-width: 1024px) {
  .featured .featured__container {
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .featured .featured__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
}

.featured .post__thumbnail {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search__bar {
  margin-top: 7rem;
}

.search__bar .search__bar-container {
  position: relative;
  width: 30rem;
  background: #1e1e66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  color: rgba(242, 242, 254, 0.3);
}

.search__bar .search__bar-container > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__bar .search__bar-container input {
  width: 100%;
  background: transparent;
  margin-left: 0.7rem;
  padding: 0.5rem 0;
}

.posts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  .posts__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .posts__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.category__buttons {
  padding: 4rem 0;
  border-top: 2px solid #1e1e66;
  border-bottom: 2px solid #1e1e66;
}

.category__buttons .category__buttons-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .category__buttons .category__buttons-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .category__buttons .category__buttons-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer {
  background-color: #1e1e66;
  padding: 5rem 0 0;
  -webkit-box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

footer h4 {
  color: #f2f2fe;
  margin-bottom: 0.6rem;
}

footer .footer__socials {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

footer .footer__socials a {
  background: #0f0f3e;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__socials a:hover {
  background: rgba(242, 242, 254, 0.7);
  color: #0f0f3e;
}

footer .footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
  footer .footer__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  footer .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

footer ul li {
  padding: 0.4rem 0;
}

footer ul a {
  opacity: 0.75;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

footer ul a:hover {
  letter-spacing: 0.2rem;
  opacity: 1;
}

footer .footer__copyright {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid #0f0f3e;
  margin-top: 4rem;
}
/*# sourceMappingURL=styles.css.map */