@import "./components/variable";
@import "./components/global";
@import "./components/utilities";

nav {
  background-color: $primary;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  button {
    display: none;
  }
  .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__logo {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .nav__items {
      display: flex;
      align-items: center;
      gap: 4rem;
      .nav__profile {
        position: relative;
        cursor: pointer;
        &:hover > ul {
          opacity: 1;
          visibility: visible;
        }
        ul {
          position: absolute;
          top: 125%;
          right: 0;
          display: flex;
          flex-direction: column;
          background-color: $gray900;
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
          opacity: 0;
          visibility: hidden;
          li {
            a {
              padding: 1rem;
              background-color: $gray900;
              display: block;
              width: 100%;
            }
            &:last-child a {
              background-color: $red;
              color: $bg;
            }
          }
        }
      }
    }
  }
}
