@import './components/variable';
@import './components/global';
@import './components/utilities';

nav{
    background-color: $primary;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    button{
        display: none;
    }
    .nav__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}