@import "./components/variable";
@import "./components/global";
@import "./components/utilities";

nav {
  background-color: $primary;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  button {
    display: none;
  }
  .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__logo {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .nav__items {
      display: flex;
      align-items: center;
      gap: 4rem;
      .nav__profile {
        position: relative;
        cursor: pointer;
        &:hover > ul {
          opacity: 1;
          visibility: visible;
        }
        ul {
          position: absolute;
          top: 125%;
          right: 0;
          display: flex;
          flex-direction: column;
          background-color: $gray900;
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
          opacity: 0;
          visibility: hidden;
          transition: $transition;
          li {
            a {
              padding: 1rem;
              background-color: $gray900;
              display: block;
              width: 100%;
            }
            &:last-child a {
              background-color: $red;
              color: $bg;
            }
          }
        }
      }
    }
  }
}
// ================================ MAIN DISPLAY POST ==========

.featured{
    margin-top: 8rem;
    .featured__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .post__thumbnail{
        height: fit-content;
    }
}
// =========================================== POSTS ==========================


.posts__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}
// ===========================================  CATEGORIES ==========================

.category__buttons{
    padding: 4rem 0;
    border-top: 2px solid $gray900;
    border-bottom: 2px solid $gray900;
    .category__buttons-container{
        width: fit-content;
    }
}
// ===========================================  FOOTER ==========================

footer{
    background-color: $gray900;
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    .footer__socials{
        margin-inline: auto;
        width: fit-content;
        margin-bottom: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        a{
            background: $bg;
            border-radius: 50%;
            width: 2.3rem;
            height: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background: $white;
                color: $bg;
            }
        }
    }
}